/* Global Variables */
:root{
    --argentinian-blue: #74ACDF;
    --argentinian-yellow: #F6B40E;
    --main-font: "Handlee", cursive;
}

.handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
}


body{
    justify-content: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 1.5rem;
}

/* Header */
header{
    background-color: var(--argentinian-blue);
    width: auto;
    padding: 1rem;
    border-bottom: 1rem solid var(--argentinian-yellow);
    /* max-width: 640px; */
}

h1{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
}

/* Imagen */
.hero {
    display: block;
    margin: 0 auto;
    text-align: center;
}

picture img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

/* Secciones */
#data, #weather{
    background-color: white;
    width: 100%;
    border: 2px solid var(--argentinian-yellow);
    border-radius: 10px;
    box-sizing: content-box;
}

h2{
    font-family: var(--main-font);
    text-align: center;
    padding: 1rem;
}

#data h3, #weather h3{
    padding: 1px;
    margin: 0;
}

table{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

th{
    text-align: end;
    padding-right: 0.5rem;
}

#weather{
    margin-top: 10px;
    margin-bottom: 10px;
}

#icon{
    max-width: 30px;
}

footer{
    text-align: center;
    font-family: var(--main-font);
    background-color: var(--argentinian-blue);
    padding: 1.5rem;
}