@media screen and (min-width: 900px) {
    h1{
        font-family: 'Times New Roman', Times, serif;
    }

    .hero{
        display: flex;
    }

    picture img{
        height: auto;
        width: 100%;
    }

}