@media screen and (min-width: 900px) {
    h1{
        font-family: 'Times New Roman', Times, serif;
    }

    body{
        height: 100vh;
    }

    main{
        position: relative;
        display: grid;
        grid-template-columns: 12.5% 20% 35% 20% 12.5%;
        grid-template-rows: 12.5% 25% 30% 20% 12.5%;
    }

    pictute{
        background-size: cover;
    }






}

